<div class="container">
  <img *ngIf="data.length > 0" [lazyLoad]="data[position].download_url" id="image">
  <div class="btn-container">
    <button id="prev" (click)="previous()">Previous</button>
    <button id="next" (click)="next()">Next</button>
  </div>
</div>