.container {
    /* width: 100vh; */
    text-align: center;
    /* height: 100vh; */
}

img {
    object-fit: cover;
    width: auto;
    height: 96vh;
    width: 98vw;
    max-width:100vw;
    max-height:100vh;
    vertical-align: middle;
}

.btn-container {
    padding: 0.6vh;
    width: 100vw;
}